<div class="row">
  <div class="col-md-12 col-sm-12">
    <app-horizontal-navbar></app-horizontal-navbar>
  </div>
</div>

<div class="row">
  <div class="col-md-3 col-sm-12">
    <app-vertical-navbar></app-vertical-navbar>

    <div class="vertical-check-in-form">
      vertical check in form
    </div>
  </div>
  <div class="col-md-9 col-sm-12">
    <div class="row">
      <div class="col-md-8 col-sm-12">
        <div class="form-chair">
          form chair
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="calendar">
          Calendar
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-12">
        <div class="weather-card">
          weather card
        </div>
      </div>
      <div class="col-md-8 col-sm-12">
        <div class="hotel-reservation">
          hotel reservation

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="social-nav">
          social nav
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-9 col-sm-12">
    <div class="restaurant-menu">
      restaurant menu
    </div>
  </div>
  <div class="col-md-3 col-sm-12">
    <div class="rate-trend-card">
      rate trend card
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-sm-12">
    <div class="comments-card">
      comments card
    </div>
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="video-card">
      videocard
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-sm-12">
    <div class="footer">
      Footer
    </div>
  </div>
</div>
