
/*Main Colors*/
$light-grey: #F6F6F6;
$dark-gray: #9B9B9B;
$yellow: #F6EC50;
$light-salmon: #FFE0D0;
$dark-salmon: #FAC4AF;
$reddish: #FF7E7F;
$red: #FE4A3B;
$ocher: #C70E11;
$light-blue: #CAFAFD;
$dark-light-blue: #90F9FE;
$greenish: #58BDC1;
/*Main Colors*/