@import '../../sass/variables.scss';

.vertical-check-in-form {
    height: 650px;
    border-radius: 7px;
    margin: 15px 0 15px 15px;
    background-image: url("../../assets/images/sarah-dorweiler-105892-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    padding: 70px;
}

.input-group-prepend {
  border-bottom: 1px solid $dark-gray;
  color: $greenish;
  font-size: 20px;
}

.label {
    color: $dark-gray;
    text-transform: uppercase;
}

.button-container {
  padding: 30px;
}

.form-control {
  border-radius: 0;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid $dark-gray;
  color: $dark-gray;
  font-weight: bold;
}

.form-control:focus {
  background-color: transparent;
  box-shadow: none;
  border-bottom: 1px solid $dark-gray;
  color: $dark-gray;
}