@import '../../sass/variables.scss';

.weather-card {
    border-radius: 7px;
    height: 400px;
    margin: 15px 0 15px 0;
    background-image: url("../../assets/images/pineapple-supply-co-244468-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    padding: 50px;
    color: $light-grey;
    text-transform: uppercase;
    font-weight: bold;
}

.text-center {
    padding: 3px;
}

.icon-size {
    font-size: 35px
}