<div class="row">
  <div class="col-md-12 col-sm-12">
    <app-navbar [vertical]="false" [horizontal]="true" [data]="horizontalData"></app-navbar>
  </div>
</div>

<div class="row">
  <div class="col-md-3 col-sm-12">
    <app-navbar [vertical]="true" [horizontal]="false" [data]="verticalData"></app-navbar>
    <app-check-in-form></app-check-in-form>
  </div>
  <div class="col-md-9 col-sm-12">
    <div class="row">
      <div class="col-md-8 col-sm-12">
        <app-log-in></app-log-in>
      </div>
      <div class="col-md-4 col-sm-12">
        <app-calendar></app-calendar>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-12">
        <app-weather></app-weather>
      </div>
      <div class="col-md-8 col-sm-12">
        <app-hotel-information></app-hotel-information>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <app-social-nav></app-social-nav>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-9 col-sm-12">
    <app-restaurant-menu></app-restaurant-menu>
  </div>
  <div class="col-md-3 col-sm-12">
    <app-trend></app-trend>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-sm-12">
    <app-comments></app-comments>
  </div>
  <div class="col-md-6 col-sm-12">
    <app-video></app-video>
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-sm-12">
    <app-footer></app-footer>
  </div>
</div>
