<div class="row">
  <div class="col-md-6">
    <nav class="nav nav-pills nav-justified">
      <a class="nav-item nav-link horizontal-hover" href=""><i class="fab fa-twitter"></i></a>
      <a class="nav-item nav-link horizontal-hover" href=""><i class="fab fa-facebook-f"></i></a>
      <a class="nav-item nav-link horizontal-hover" href=""><i class="fab fa-dribbble"></i></a>
      <a class="nav-item nav-link horizontal-hover" href=""><i class="fas fa-share-alt"></i></a>
      <a class="nav-item nav-link horizontal-hover" href=""><i class="fas fa-share"></i></a>
    </nav>
  </div>
  <div class="col-md-6 ">
    <form class="social-nav">
      <div class="input-group mb-3">
        <input type="email" class="form-control" placeholder="EMAIL SUBSCRIBE" aria-label="EMAIL SUBSCRIBE"
          aria-describedby="basic-addon1">
        <div class="input-group-prepend">
          <i class="fab fa-telegram-plane"></i>
        </div>
      </div>
    </form>
  </div>
</div>
