@import '../../sass/variables.scss';

.restaurant-menu {
    border-radius: 7px;
    height: 400px;
    margin: 15px 0 15px 15px;
    background-image: url("../../assets/images/background-colors-couple-958169.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    padding: 50px;
    color: $dark-gray;
    text-transform: uppercase;
}

.divider {
    margin: 10px 0 10px 0;
}

h5 {
    font-weight: bold;
}