@import '../../sass/variables.scss';

.nav {
    height: 100px;
    background: $light-grey;
    margin: 15px 0 15px 15px;
    color: $dark-gray;
    font-weight: bold;
    line-height: 80px;
}

.nav-item {
    color: $dark-gray;
    border-left: thin solid rgba(0, 0, 0, 0.1);
    height: 100%;
}

.nav-item__without--border {
  border-left: none;
}

.nav:first-child {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.nav:last-child {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.horizontal-hover:hover {
    background-color: $red;
    color: whitesmoke;
    box-shadow: 0 10px 0 $ocher;
}

.vertical-menu-nav {
    height: 300px;
    background:$light-grey;
    margin: 15px 0 15px 15px;
}

.vertical-menu-nav:first-child {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.vertical-menu-nav:last-child {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}