@import '../../sass/variables.scss';

.calendar {
    background: $light-grey;
    border-radius: 7px;
    height: 400px;
    margin: 15px 0 15px 0;
}

.bs-datepicker-head {
  background-color: $red;
  text-align: center;
  border-radius: 7px;
}

 .bs-datepicker-body{
   border: none;
 }

.is-other-month {
  color: $reddish;
}

.bs-datepicker-body table td span.is-highlighted:not(.disabled):not(.selected) {
  background-color: $light-salmon;
}

.week {
  color: $red
}

.selected {
  background-color: $red;
}