<div class="hotel-reservation">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <h4 class="hotel-reservation-title">Luxury Suit</h4>
      </div>
      <div class="col-md-4 offset-md-4 col-sm-4 offset-sm-4">
        <h4 class="hotel-reservation-subTitle">$199 <span class="hotel-reservation-description">Per
            Nigth</span></h4>
        <hr class="divider">
        <div class="row">
          <div class="col-md-auto col-sm-auto">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <i class="material-icons hotel-reservation-icons">airline_seat_individual_suite</i>
              </div>
              <span class="hotel-reservation-icons__title">2 kinds beds</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-auto col-sm-auto">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <i class="material-icons hotel-reservation-icons">wifi</i>
              </div>
              <span class="hotel-reservation-icons__title">Free Wifi</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-auto col-sm-auto">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <i class="material-icons hotel-reservation-icons">local_parking</i>
              </div>
              <span class="hotel-reservation-icons__title">Free Parking</span>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-md-auto col-sm-auto">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <i class="material-icons hotel-reservation-icons">smartphone</i>
              </div>
              <span class="hotel-reservation-icons__title">Phone Service</span>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-md-auto col-sm-auto">
            <button type="submit" class="btn btn-danger">Order</button>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>
