.comments-card {
    border-radius: 7px;
    height: 400px;
    margin: 15px 0 15px 15px;
    background-image: url("../../assets/images/art-background-beautiful-961402.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}