<div class="comments-card">
  <div class="row">
    <div class="col-md-3 offset-md-2 col-sm-3 col-12">
      <span class="one-nav__avatar">
        <img src="../../assets/images/female-17.jpg" class="img-fluid">
        <p class="text-center">Anna</p>
      </span>
    </div>
    <div class="col-md-7 col-sm-7 col-12">
      <div class="row">
        <span class="col-md-4 col-sm-2 col-2">
          <span class="topic">Accuracy</span>
        </span>
        <span class="col-md-8 col-sm-10 col-10">
          <i class="fas fa-heart checked"></i>
          <i class="fas fa-heart checked"></i>
          <i class="fas fa-heart checked"></i>
          <i class="fas fa-heart checked"></i>
          <i class="fas fa-heart checked"></i>
        </span>
      </div>
      <div class="row">
        <span class="col-md-4 col-sm-2 col-2">
          <span class="topic">Value</span>
        </span>
        <span class="col-md-8 col-sm-10 col-10">
          <i class="fas fa-heart checked"></i>
          <i class="fas fa-heart checked"></i>
          <i class="fas fa-heart checked"></i>
          <i class="fas fa-heart"></i>
          <i class="fas fa-heart"></i>
        </span>
      </div>
      <div class="row">
        <span class="col-md-4 col-sm-2 col-2">
          <span class="topic">CleanLiness</span>
        </span>
        <span class="col-md-8 col-sm-10 col-10">
          <i class="fas fa-heart checked"></i>
          <i class="fas fa-heart checked"></i>
          <i class="fas fa-heart checked"></i>
          <i class="fas fa-heart checked"></i>
          <i class="fas fa-heart"></i>
        </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-sm-12 col-12 col-2  offset-md-2">
      <p class="comment">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto veritatis praesentium
        dolores molestiae
        nihil harum qui fuga amet quisquam corrupti alias minus pariatur placeat sit, repellat minima. Odio,
        repellendus aliquam. <br><br> Jan 3 2016</p>
    </div>
  </div>
  <div class="row justify-content-end">
    <div class="col-md-auto col-sm-auto col-12">
      <app-button text="comment" type="outline-danger"></app-button>
    </div>
    <div class="col-md-auto col-sm-auto col-12">
      <app-button text="Helpful (3)" type="btn-danger"></app-button>
    </div>
  </div>
</div>
