<div class="rate-trend-card">
  <div class="row ">
    <div class="col-md-12 col-sm-12">
      <p class="title">2015 rate trend</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-6 col-6">
      <p>JAN</p>
      <p>MAR</p>
      <p>MAY</p>
      <p>JUL</p>
      <p>SEP</p>
      <p>NOV</p>
    </div>
    <div class="col-md-6 col-sm-6 col-6">
      <div *ngFor="let percentage of percentages">
        <canvas [ngStyle]="{'width': percentage}" class="canvas"></canvas>
      </div>
    </div>
  </div>
</div>
