@import '../../sass/variables.scss';

.rate-trend-card {
  background: $light-grey;
  border-radius: 7px;
  height: 400px;
  margin: 15px 0 15px 15px;
  padding: 50px;
}

p {
  color:$dark-gray;
}

.title {
  text-align: center;
  font-weight: bold;
}


.canvas {
  display: block;
  background-color: $greenish;
  height: 12px;
  margin: 0 0 8px -90%;
  border-radius: 0 15px 15px 0;
}